:root { 
--gray_52:#fff2f7; 
--gray_51:#f5f7ff; 
--gray_53:#f5faff; 
--red_900:#912b2b; 
--black_900_5b:#0000005b; 
--red_400:#e05252; 
--gray_50:#f2f7ff; 
--blue_100_5b:#adcfff5b; 
--black_900:#000000; 
--pink_A400:#ff007a; 
--black_900_26:#00000026; 
--gray_600:#757575; 
--gray_501:#a3a3a3; 
--gray_700:#575757; 
--gray_601:#737373; 
--gray_400:#bababa; 
--gray_500:#949494; 
--orange_A200:#e3a642; 
--gray_901:#171717; 
--amber_400:#fcd91a; 
--gray_902:#262626; 
--gray_800:#4a4a4a; 
--gray_900:#292929; 
--blue_600:#3882e0; 
--teal_50:#deffed; 
--gray_101:#f0f0ff; 
--gray_300:#e6e6e6; 
--blue_50:#d9e8ff; 
--gray_100:#f2f2f2; 
--black_900_0d:#0000000d; 
--blue_51:#e8f0fc; 
--orange_50:#fff5db; 
--orange_51:#fff7e3; 
--indigo_A700:#263bed; 
--bluegray_500:#697d9c; 
--lime_50:#f5ffde; 
--white_A700:#ffffff; 
}