:root { 
--gray_600:#757575; 
--gray_52:#fff2f7; 
--gray_501:#a3a3a3; 
--gray_700:#575757; 
--gray_51:#f5f7ff; 
--gray_53:#f5faff; 
--gray_500:#949494; 
--teal_50:#deffed; 
--gray_101:#f0f0ff; 
--gray_300:#e6e6e6; 
--blue_50:#d9e8ff; 
--gray_50:#f2f7ff; 
--gray_100:#f2f2f2; 
--black_900_0d:#0000000d; 
--blue_51:#e8f0fc; 
--orange_50:#fff5db; 
--orange_51:#fff7e3; 
--black_900:#000000; 
--indigo_A700:#263bed; 
--pink_A400:#ff007a; 
--white_A700:#ffffff; 
--black_900_26:#00000026; 
}